h1.title {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  line-height: 0.9;
}

.notification.is-danger pre {
  background-color: inherit;
  color: inherit;
  padding: 0;
}

.CodeMirror {
  border: 1px solid #dbdbdb;
  margin: 2rem 0;
  height: auto;
}

.menu-item {
  margin-bottom: 1rem;
}
